<li class="dropdown">
  <a data-toggle="dropdown" class="dropdown-toggle" href="#">Info<b class="caret"></b></a>
  <ul role="menu" class="dropdown-menu">
	<li><%= link_to 'Algemeen', "/onthaal"%></li>
	<li><%= link_to 'Praesidium', "/praesidium"%></li>
  <li role="separator" class="divider"></li>
	<li><%= link_to 'Contact', "/contact"%></li>
  </ul>
</li>
<li class="dropdown">
  <a data-toggle="dropdown" class="dropdown-toggle" href="#">Activiteiten<b class="caret"></b></a>
    <ul role="menu" class="dropdown-menu">
  <li><%= link_to 'Kalender', "/kalender"%></li>
  <li role="separator" class="divider"></li>
  <li><%= link_to 'Cantus', "/cantus"%></li>
	<li><%= link_to 'Cultuur', "/cultuur"%></li>
	<li><%= link_to 'Feest', "/feest"%></li>
	<li><%= link_to 'Sport', "/sport"%></li>
    </ul>
</li>
<li class="dropdown">
  <a data-toggle="dropdown" class="dropdown-toggle" href="#">Cursus<b class="caret"></b></a>
  <ul role="menu" class="dropdown-menu">
	<li><%= link_to 'Info', "/cursus"%></li>
  <li role="separator" class="divider"></li>
	<li><%= link_to 'FK Cursussen', "http://boeken.fkgent.be"%></li>
	<li><%= link_to 'Acco Boeken', "https://www.acco.be/vgk"%></li>
  </ul>
</li>
<li class="dropdown">
  <a data-toggle="dropdown" class="dropdown-toggle" href="#">Media<b class="caret"></b></a>
    <ul role="menu" class="dropdown-menu">
  <li><%= link_to "Foto's", "/fotos"%></li>
  <li role="separator" class="divider"></li>
	<li><%= link_to 'SPN Archief', "/spn"%></li>
	<li><%= link_to 'Anaal Kanaal', "https://docs.google.com/forms/d/1qAK7N44OKSn06CHodHRcahBKNDKcBlb21PtJX05tjK4/viewform"%></li>
    </ul>
</li>
