<li><%= link_to 'Home', root_path %></li>
<li class="dropdown">
  <a data-toggle="dropdown" class="dropdown-toggle" href="#">Over VGK<b class="caret"></b></a>
  <ul role="menu" class="dropdown-menu">
	<li><%= link_to 'algemeen', "http://vgk.be/onthaal"%></li>
	<li><%= link_to 'praesidium', "http://vgk.be/praesidium"%></li>
	<li><%= link_to 'contact', "http://vgk.be/contact"%></li>
  </ul>
</li>
<li><%= link_to 'Cursus', "http://vgk.be/cursus"%></li>
<li class="dropdown">
  <a data-toggle="dropdown" class="dropdown-toggle" href="#">Activiteiten<b class="caret"></b></a>
    <ul role="menu" class="dropdown-menu">
	<li><%= link_to 'sport', "http://vgk.be/sport"%></li>
	<li><%= link_to 'cultuur', "http://vgk.be/cultuur"%></li>
	<li><%= link_to 'feest', "http://vgk.be/feest"%></li>
    </ul>
</li>
<li class="dropdown">
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Cantus<b class="caret"></b></a>
  <ul role="menu" class="dropdown-menu">
	<li><%= link_to 'cantus', "http://vgk.be/cantus"%></li>
	<li><%= link_to 'clublied', "http://vgk.be/cantus/clublied"%></li>
  </ul>
</li>
<li class="dropdown">
  <a data-toggle="dropdown" class="dropdown-toggle" href="#">Redactie<b class="caret"></b></a>
    <ul role="menu" class="dropdown-menu">
	<li><%= link_to 'Archief SPN', "http://vgk.be/spn"%></li>
	<li><%= link_to 'Anaal Kanaal', "https://docs.google.com/forms/d/1qAK7N44OKSn06CHodHRcahBKNDKcBlb21PtJX05tjK4/viewform"%></li>
    </ul>
</li>
